
<h2>Please enter all details for a new admission</h2>

<form action="/animals" method="post">

  <div class="form-group">
    <label for="animal-name">Name:</label>
    <div class="form-item">
      <input type="text" name="name" value=""/>
    </div>
  </div>

  <div class="form-group">
    <label for="animal-type">Type:</label>
    <div class="form-item">
      <input type="text" name="type" value=""/>
    </div>
  </div>

  <div class="form-group">
    <label for="animal-breed">Breed:</label>
    <div class="form-item">
      <input type="text" name="breed" value=""/>
    </div>
  </div>

  <div class="form-group">
    <label for="admission-date">Admitted:</label>
    <div class="form-item">
      <input type="date" name="admission_date" value=""/>
    </div>
  </div>

  <div class="form-group">
    <label for="image">Photo:</label>
    <div class="form-item">
      <input type="file" name="image" value="" />
    </div>
  </div>

  <button class="button big-button">ADD</button>

</form>
