
<h2>Please enter all details for a new admission</h2>

<div class="container">

  <form action="/animals" method="post">

    <ul class="flex-outer">

      <li>
        <label for="animal-name">Name:</label>
        <input required="required" type="text" name="name" placeholder="Enter Name Here"/>
      </li>

      <li>
        <label for="animal-type">Type:</label>
        <input required="required" type="text" name="type" placeholder="Enter Cat/Dog/Budgie"/>
      </li>

      <li>
        <label for="animal-breed">Breed:</label>
        <input required="required" type="text" name="breed" placeholder="Enter Breed Here"/>
      </li>

      <li>
        <label for="admission-date">Admitted:</label>
        <input type="date" name="admission_date" value=""/>
      </li>

      <li>
        <label for="image">Photo:</label>
        <input type="file" name="image" value="" />
      </li>

      <button class="btn">ADD</button>

    </form>
