<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Number</th>
    <th>Home Check</th>
    <th>Adopted Animal</th>
  </tr>

  <% @table.each do |item| %>
    <tr>
      <td><%= item['name'] %></td>
      <td><%= item['address'] %></td>
      <td><%= item['phone_number'] %></td>
      <td>
      <% if item['home_check'] == true %>Passed
      <% else %>In Progress
      <% end %>
      </td>
      <td><%= item['animal_name'] %></td>
    </tr>
  <% end %>
</table>
