

input {
  font-size: 15px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
}

ul.flex-outer  {
  width: 400px;
  padding: 0px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 10px;
  justify-content: space-around;
}

.flex-outer > li {
  margin-bottom: 10px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 8px;
  border: none;
}

.flex-inner li {
  width: 100px;
}
