html {
  background-color: #63d1d8;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #63d1d8;
  width:100%;
  position:fixed;
  top: 0px;
  font-size: 25px
}

h1  {
  margin: 20px;
}

content p {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

section {
  display: inline-block;
  margin-top: 100px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width:100%;
  margin-top: 40px;
  background-color: #63d1d8;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  font-size: 20px;
  display: inline;
  padding: 0px 10px;
}

table {
  display: inline-table
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem
}

body {
  font: "Poppins", sans-serif;
  background: #63d1d8;
  color: #fff;
  padding: 50px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 8px;
  justify-content: space-around;
}

.flex-outer > li {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 0px 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: capitalize;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 8px;
  border: none;
}

.flex-inner li {
  width: 100px;
}

.highlight {
  color: #FF792B;

}

input {
  font-size: 15px;
  padding: 0px;
}

.solo-photo {
  width: 400px;
  margin: 0px;
}

.welcome-logo {
  width: 400px;
  margin: 0px;
}

section.content {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100px;
  height: 80px;
 }

 .logo {
   display: flex;
 }

 .btn {
  line-height: 1;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: #FF792B;
}


footer {
  margin-top: 20px;
  text-align: center;
}
