html {
  background-color: #63d1d8;
  font-family: 'Poppins', sans-serif;
}

header {
  float:
  text-align: center;
}

nav {
  position: fixed;
  top: 80px;
  left: 10px;
}

body {
  overflow: scroll;
  padding-left: 150px;
}

nav ul {
  list-style-type: none;
  padding: 0
}

nav ul li {
  font-size: 20px
}

table {
  display: inline-table
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem
}

.solo-photo {
  max-width: 400px
}

.logo img {
  width: 100px;
  height: 80px;
 }

 .logo {
   display: flex;
 }

 .btn {
}

footer {
  margin-top: 20px;
  text-align: center;
}
