html {
  background-color: #63d1d8;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  background-color: #63d1d8;
  width:100%;
  position:fixed;
  top:0px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

ul {
  list-style-type: none;
  padding: 0
}

nav li {
  font-size: 20px;
  display: inline;
}

.container {
  display: flex;
  justify-content: center;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 3px;
}

.flex-outer ul,
.flex-inner {
  list-style-type: none;
  padding: 0;
  font-size:15px;
  display: inline;
}

.flex-outer ul label,
.flex-inner {
  padding-right: 10px;
}


body {
  overflow: scroll;
  margin-top: 0px;
}

section {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

table {
  display: inline-table
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem
}

.solo-photo {
  max-width: 400px
}

.logo img {
  width: 100px;
  height: 80px;
 }

 .logo {
   display: flex;
   align-items: center;
 }

footer {
  margin-top: 20px;
  text-align: center;
}
