html {
  background-color: #18ADA4;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #18ADA4;
  width:100%;
  position:fixed;
  top: 0px;
  font-size: 25px;
  margin: auto;
}

h1  {
  margin: 20px;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

div.title-page {
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width:100%;
  margin-top: 40px;
  background-color:#18ADA4;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  font-size: 20px;
  display: inline;
  padding: 0px 10px;
}

body {
  font: "Poppins", sans-serif;
  background: #18ADA4;
  color: #fff;
  padding-top: 50px;
}

.solo-photo {
  width: 400px;
  margin: 0px;
  border: solid;
  border-color: #FF792B;
  border-width: 2px
}

.welcome-logo {
  width: 350px;
  margin: 0px;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: 100px;
  height: 80px;
 }

 .logo {
   display: flex;
 }

a {
  color:#5A18AD;
}

footer {
  margin-top: 20px;
  text-align: center;
}
