
<h2>Please enter all details for a new owner</h2>

<div class="container">

  <form action="/owners" method="post">

    <ul class="flex-outer">

      <li>
        <label for="owner-name">Name:</label>
        <input required="required" type="text" name="name" placeholder="Enter Name Here"/>
      </li>

      <li>
        <label for="owner-address">Address:</label>
        <input type="text" name="address" placeholder="Enter Address Here"/>
      </li>

      <li>
        <label for="owner-phone-number">Contact Number:</label>
        <input required="required" type="text" name="phone_number" placeholder="Enter Phone Number"/>
      </li>

    </ul>

    <button class="btn">ADD</button>

  </form>
